node_modules/
data/entidades
data/entidades.json
data/denue
data/denueSHP
data/SUN
data/mip
data/consumoEléctrico/*.csv
data/seguridad/*.csv
data/finanzas/*.xlsx
data/finanzas/*.csv
data/finanzasIMCO/*.csv;
data/finanzasIMCO/*.xlsx;
data/inere/*.tif;
data/inere/*.csv;
data/inere/sunShape/
data/seguridad/*.html
data/proyecciones/Proyecciones_municipios_y_localidades
data/proyecciones/proyecciones.zip
data/proyecciones/*.csv
data/normales/files
data/normales/*.csv
data/turismo/*.csv
data/turismo/*.zip
data/turismo/*/
data/marg/*.csv
data/marg/*.xlsx
data/vulnerabilidadYresiliencia/*.csv
data/vulnerabilidadYresiliencia/*.zip
data/energías/*.xls
data/energías/*.csv
data/CUARTO/anuarios/*.csv
data/CUARTO/anuarios/*.zip
data/CUARTO/anuarios/*/
data/CUARTO/espacios/*.zip
data/CUARTO/espacios/*/
