<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="public/css/entidades.css">
</head>
<body>
<script src="../public/js/d3.v3.min.js" charset="utf-8"></script>
<script src="../public/js/topojson.v1.min.js"></script>
<script charset="utf-8">

/* JavaScript goes here. */

var width = window.innerWidth,
    height = window.innerHeight;

var svg = d3.select("body").append("svg")
     .attr("width", width)
     .attr("height", height)
     .style({
	"margin": "auto",
	"display": "block"
     });

var gg = svg.append("g")

var projection = d3.geo.mercator();

var path = d3.geo.path().projection(projection);

d3.json("entidadesJSON", function(err,mx) {
  var key = Object.keys(mx.objects)[0];

  var entidades = topojson.feature(mx, mx.objects[key]);

  projection.scale(1).translate([0,0]);

  var b = path.bounds(entidades);
  var s = 0.95 / Math.max((b[1][0]-b[0][0]) / width, (b[1][1] - b[0][1]) / height);
  var t = [(width-s*(b[1][0]+b[0][0]))/2, (height-s*(b[1][1]+b[0][1]))/2];

  projection.scale(s).translate(t);

  gg.selectAll("path")
    .data(entidades.features)
    .enter().append("path")
    .attr({
      "class": function(d) { return d.NOM_ENT; },
      "d": path,
      "fill": "transparent"
    })
    .style({
      "stroke": "white",
      "stroke-width": "0.33px"
    })
    .on("mouseover", function(d) {
	d3.select(this)
	.attr("fill","rgb(216,39,53)")
	.style("stroke-width", "1.5px");

	d3.select("svg").append("text")
	  .attr({
	    "x": width/9,
	    "y": height - height/6,
	    "font-family":"BLTFRU",
	    "font-size":"50px"
	  })
	  .style("fill", "white")
	  .text(function() { return d.properties.NOM_ENT; });
    })
    .on("mouseout", function(d) {
        d3.select(this)
	.attr("fill","transparent")
	.style("stroke-width", "0.25px");
	
	d3.selectAll("text").remove();
    })
    .on("click", function(d) {
	var cve = d.properties.CVE_ENT;

	d3.xhr("/municipios")
	  .header("Content-Type", "application/json")
	  .post(JSON.stringify({ cve:cve }), function(err, data) {

	    d3.selectAll("g").remove();

	    d3.json(String(cve), function(err,est) {
              if(!est) console.log("No data");
	      var estKey = Object.keys(est.objects)[0];
	      var municipios = topojson.feature(est, est.objects[estKey]);

	      projection.scale(1).translate([0,0]);
	      var b = path.bounds(municipios);
	      var s = 0.95 / Math.max((b[1][0]-b[0][0]) / width, (b[1][1] - b[0][1]) / height);
	      var t = [(width-s*(b[1][0]+b[0][0]))/2, (height-s*(b[1][1]+b[0][1]))/2];
	      projection.scale(s).translate(t);

	      svg.selectAll("path")
	        .data(municipios.features)
	        .enter().append("path")
	        .attr({
	          "class": function(d) { return d.NOMGEO; },
	          "d": path,
	          "fill": function(d) {
		    if (d.properties.ciudad) return "rgba(216,39,53,0.75)"
		    else return "transparent"
		  }
	        })
	        .style({
	          "stroke": "white",
	          "stroke-width": "0.33px"
	        })
		.on("mouseover", function(d) {
		  d3.select(this)
		    .attr("fill", "rgb(216,39,53)")
		    .style("stroke-width", "1.5px");
		})
		.on("mouseout", function(d) {
		  d3.select(this)
		    .attr("fill", function(d) {
		      if (d.properties.ciudad) return "rgba(216,39,53,0.75)";
		      else return "transparent";
		    })
		    .style("stroke-width", "0.25px");
		})
		.on("click", function(d) {
		  var ent = d.properties.CVE_ENT;
		  var mun = d.properties.CVE_MUN;

		  d3.xhr("/localidades")
		    .header("Content-Type", "application/json")
		    .post(JSON.stringify({ cve:{ ent:ent, mun:mun }}), function(err, data) {

			d3.selectAll("path").remove();
			d3.selectAll("text").remove();

			d3.json(String(mun), function(err,loc) {
			  if(!loc) console.log("No data for loc");
			  var keyLoc = Object.keys(loc.objects)[0]

			  var localidades = topojson.feature(loc,loc.objects[keyLoc]);
			  var locs = [];

			  localidades.features.forEach(function(l) {
			   var u = l.properties.CVE_MUN == mun && l.properties.AMBITO == "U"
			   var c = l.properties.CVE_MUN == mun;
			    if(c) locs.push(l);
			  });

			  localidades.features = locs;

			  projection.scale(1).translate([0,0]);
			  var b = path.bounds(localidades);
			  var s = 0.95 / Math.max((b[1][0]-b[0][0]) / width, (b[1][1] - b[0][1]) / height);
			  var t = [(width-s*(b[1][0]+b[0][0]))/2, (height-s*(b[1][1]+b[0][1]))/2];
			  projection.scale(s).translate(t);


			  svg.selectAll("path")
	        	    .data(localidades.features)
	        	    .enter().append("path")
	        	    .attr({
	      //    "class": function(d) { return d.NOMGEO; },
	          	    "d": path,
	          	    "fill": function(d) {
		    	      if (d.properties.ciudad) return "rgba(216,39,53,0.75)"
		    	      else return "transparent"
		  	      }
	        	    })
	        	    .style({
	          	      "stroke": "white",
		              "stroke-width": "0.33px"
	        	    })
			    .on("mouseover", function(d) {
			      d3.select(this).attr("fill", "rgb(216,39,53)");
			    })
			    .on("mouseout", function(d) {
			      d3.select(this).attr("fill", "transparent");
			    })
			    .on("click", function(d) {
				var id = d.properties.CVE_ENT + d.properties.CVE_MUN;
				var loc = d.properties.CVE;
				d3.selectAll("svg").remove();
				d3.select("body").append("canvas")
				  .attr({
				   "width": window.innerWidth,
				   "height": window.innerHeight,
				   "margin": 0,
				   "position": "absolute",
				   "display": "block",
				   "id": "canvas"
				   });

				var canvas = document.getElementById("canvas");
				var ctx = canvas.getContext("2d");

				d3.select("body").style("overflow","hidden");

				d3.xhr("/manzanas")
				  .header("Content-Type", "application/json")
				  .post(JSON.stringify({ id: id }), function(err, data) {
//				     window.location = id;
				     d3.json(id, function(err, b) {
					var keyB = Object.keys(b.objects);
					var w = window.innerWidth;
					var h = window.innerHeight;
					var f = "rgba(255,255,255,0.05)";
					var c = new City(b,w,h,"white",f);
					c.display(ctx);
					
				     }) 
				  })
			    });
			  
			});
		    });

		});

	    })

	  });


    });

});


function City(d,w,h,stroke,fill) {
  this.data = d;
  this.width = w;
  this.height = h;
  this.stroke = stroke;
  this.fill = fill;
}

City.prototype = {

  key: function() { return Object.keys(this.data.objects); },

  feats: function () {
        var f = topojson.feature(this.data,this.data.objects[this.key()]);
	return f;
  },

  display: function(context1) {
    var projection = d3.geo.mercator();
    var path = d3.geo.path()
        .projection(projection)
        .context(context1);

    var width = this.width, height = this.height;
    projection.scale(1).translate([0,0]);
    var b = path.bounds(this.feats());
    var s = 0.95 / Math.max((b[1][0]-b[0][0]/width, (b[1][1]-b[0][1])/height));
    var t = [(width-s*(b[1][0]+b[0][0]))/2, (height-s*(b[1][1]+b[0][1]))/2];
    projection.scale(s).translate(t);

    context1.strokeStyle = this.stroke;
    context1.fillStyle = this.fill;
    context1.beginPath();
    context1.lineWidth = 0.09;
    path(this.feats()); console.log(this.feats());
    context1.fill();
    context1.stroke();
  }

};

</script>
